
.bg-img{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    background-repeat: no-repeat ;
    position: fixed;
}
.card-body{
    background-color: white;
    margin-top: 80%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}